.Section {
  max-width: 130rem;
  margin: 0 auto;
  margin-top: 6.2rem;
}
.TextArea {
  background-color: #495057;
  resize: none;
  box-sizing: border-box;
  border-radius: 1.2rem;
  width: 70rem;
  height: 4rem;
  padding: 8px;
  font-size: 16px;
  caret-color: white;
  color: white;
  position: fixed;
  bottom: 3.2rem;
  left: 50%;
  transform: translateX(-50%);

  box-shadow: 0px 0px 18px 4px rgba(0, 0, 0, 0.47);
  -webkit-box-shadow: 0px 0px 18px 4px rgba(0, 0, 0, 0.47);
  -moz-box-shadow: 0px 0px 18px 4px rgba(0, 0, 0, 0.47);
}
.TextArea:focus {
  outline: none;
  border: 1px solid #ccc;
}

.RecivedTextParrent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4.2rem;
  padding-bottom: 12.2rem;
}
.RecivedText {
  width: 60rem;
  font-size: 1.8rem;
  line-height: 1.4;
  font-weight: 400;
  word-spacing: 2px;
}
.ChatParrent {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}
.ChatParrent > h2 {
  font-size: 2.2rem;
  font-weight: 400;
  text-align: center;
}
.SendTextParrent {
  width: 100vw;
  height: 10rem;
  position: fixed;
  bottom: 0;
  left: 0;
  background: rgb(33, 37, 41);
  background: -moz-linear-gradient(
    0deg,
    rgba(33, 37, 41, 1) 60%,
    rgba(255, 255, 255, 0) 100%
  );
  background: -webkit-linear-gradient(
    0deg,
    rgba(33, 37, 41, 1) 60%,
    rgba(255, 255, 255, 0) 100%
  );
  background: linear-gradient(
    0deg,
    rgba(33, 37, 41, 1) 60%,
    rgba(255, 255, 255, 0) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#212529",endColorstr="#ffffff",GradientType=1);
}

.Settings {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.Settings > select {
  outline: none;
  border: none;
  margin: 2.2rem 0;
  width: 25rem;
  border-radius: 0.4rem;
  padding: 0.6rem;
  background-color: #4a5759;
  color: white;
  border: 1px solid #4a5759;
}
.Settings > select:focus {
  outline: none;
}

.Warning > p {
  width: 60rem;
  font-size: 1.8rem;
  line-height: 1.4;
  font-weight: 400;
  word-spacing: 2px;
  text-align: center;
}
.Warning > h2 {
  text-align: center;
  margin-bottom: 3.2rem;
}

.Warning > h2 {
  color: #e32934;
}
.Warning > p {
  color: #ffbb00;
}

@media screen and (max-width: 1460px) {
  .RecivedText {
    width: 40rem;
    font-size: 1.8rem;
  }
  .TextArea {
    width: 50rem;
    height: 4rem;
  }
}

@media screen and (max-width: 630px) {
  .Warning > p {
    width: 30rem;
    font-size: 1.2rem;
  }
  .RecivedText {
    width: 30rem;
    font-size: 1.2rem;
    line-height: 1.7;
  }
}

@media screen and (max-width: 528px) {
  .TextArea {
    width: 26rem;
    height: 4rem;
  }
}

@media screen and (max-width: 350px) {
  .Warning > p {
    width: 20rem;
    font-size: 1rem;
  }
  .RecivedText {
    width: 20rem;
    font-size: 1.2rem;
    line-height: 1.7;
  }
}
