.Section {
  max-width: 130rem;
  margin: 0 auto;
  margin-top: 9.2rem;
}
.TextArea {
  background-color: #495057;
  resize: none;
  box-sizing: border-box;
  border-radius: 1.2rem;
  width: 70rem;
  height: 4rem;
  padding: 8px;
  font-size: 16px;
  caret-color: white;
  color: white;
  position: fixed;
  bottom: 3.2rem;
  left: 50%;
  transform: translateX(-50%);

  box-shadow: 0px 0px 18px 4px rgba(0, 0, 0, 0.47);
  -webkit-box-shadow: 0px 0px 18px 4px rgba(0, 0, 0, 0.47);
  -moz-box-shadow: 0px 0px 18px 4px rgba(0, 0, 0, 0.47);
}
.TextArea:focus {
  outline: none;
  border: 1px solid #ccc;
}

.RecivedTextParrent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4.2rem;
}
.RecivedText {
  width: 60rem;
  font-size: 1.8rem;
  line-height: 1.4;
  font-weight: 400;
  word-spacing: 2px;
}
.SendTextParrent {
  width: 100vw;
  height: 10rem;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #adb5bd;
  background: rgb(33, 37, 41);
  background: -moz-linear-gradient(
    0deg,
    rgba(33, 37, 41, 1) 60%,
    rgba(33, 37, 41, 0.5956757703081232) 100%
  );
  background: -webkit-linear-gradient(
    0deg,
    rgba(33, 37, 41, 1) 60%,
    rgba(33, 37, 41, 0.5956757703081232) 100%
  );
  background: linear-gradient(
    0deg,
    rgba(33, 37, 41, 1) 60%,
    rgba(33, 37, 41, 0.5956757703081232) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#212529",endColorstr="#212529",GradientType=1);
}

.TipsAndSettingParrent {
  margin-top: 4.2rem;
  margin-left: 3.2rem;

  border: 1px solid white;
  width: 40rem;
  height: 70rem;
  border-radius: 1.2rem;
  padding: 1.2rem 0;
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}
.PannelHeaders {
  text-align: center;
  border-bottom: 1px solid white;
  padding-bottom: 1.6rem;
}
.TipsAndSettingParrent > p {
  text-align: start;
  font-size: 1.8rem;
  margin: 0 1.2rem;
  line-height: 1.5;
}
